<h1>howdy</h1>

<form>
  <label for="Lick">Enter a number</label>
  <input id="Lick" type="text" placeholder="What number do you want to square?" name="elephant">

  <button>Calculate square</button>
</form>
